header._8f73cd4fc82077d9a18efae2bc997e0a-scss{background-color:#000;height:auto}

footer._44137873de3bc5da1d322742a5d69fc9-scss{background-color:#000;color:#fff;display:flex;font-size:small;justify-content:space-between;padding:20px}

._00191b4a654208d7b53602f34438239e-scss{background-color:#fff;margin-top:1px;padding:20px 35px}

.d743cf38b96fb90f189421e64f9232ce-scss .fe17658a4fff50da294b81f0ce0087db-scss{margin-right:5px}

.d35eb8179a5096a07c6ebcc099de2324-scss{padding:120px 0;text-align:center}

form._69c0227a33c5ca1b51b5bc8e860645c5-scss{margin:10px 30px;max-width:800px}form._69c0227a33c5ca1b51b5bc8e860645c5-scss .c35dcd9af5c9bee6935fc76e0e84b79a-scss{margin-right:5px}

.b693fa357fd418fd8e43bf0baf0c050a-scss .adf0cb469e6e226764c0df543763a5c2-scss{margin-right:5px}

form._9b9a942a8a4f892faf21420438b665c6-scss{margin:10px 30px;max-width:800px}form._9b9a942a8a4f892faf21420438b665c6-scss ._29ff1839422e11107370ecb3e2fb0678-scss{margin-right:5px}

._4f3121fdb25e245fa8671acdc8d1116f-scss .acae582c1d66f2b786e4eb8803ed500b-scss{min-height:100vh}._4f3121fdb25e245fa8671acdc8d1116f-scss ._268124f6710d3b642e8ebbd0dc903ae1-scss{padding:10px 20px}

